{% extends 'base.html.twig' %}

{% block title %}Annulation index{% endblock %}

{% block body %}
    <h1>Annulation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Motif</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annulation in annulations %}
            <tr>
                <td>{{ annulation.id }}</td>
                <td>{{ annulation.date ? annulation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annulation.motif }}</td>
                <td>{{ annulation.createdAt ? annulation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annulation.updatedAt ? annulation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_annulation_show', {'id': annulation.id}) }}">show</a>
                    <a href="{{ path('app_annulation_edit', {'id': annulation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_annulation_new') }}">Create new</a>
{% endblock %}
