{% extends 'base.html.twig' %}

{% block title %}Recherche index{% endblock %}

{% block body %}
    <h1>Recherche index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>MotCle</th>
                <th>IpAdresse</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recherche in recherches %}
            <tr>
                <td>{{ recherche.id }}</td>
                <td>{{ recherche.categorie }}</td>
                <td>{{ recherche.motCle }}</td>
                <td>{{ recherche.ipAdresse }}</td>
                <td>{{ recherche.createdAt ? recherche.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ recherche.updatedAt ? recherche.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_recherche_show', {'id': recherche.id}) }}">show</a>
                    <a href="{{ path('app_recherche_edit', {'id': recherche.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recherche_new') }}">Create new</a>
{% endblock %}
