{% extends 'base.html.twig' %}

{% block title %}Achat{% endblock %}

{% block body %}
    <h1>Achat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ achat.id }}</td>
            </tr>
            <tr>
                <th>DateAchat</th>
                <td>{{ achat.dateAchat ? achat.dateAchat|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateLivraison</th>
                <td>{{ achat.dateLivraison ? achat.dateLivraison|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>PrixTotal</th>
                <td>{{ achat.prixTotal }}</td>
            </tr>
            <tr>
                <th>NumeroReference</th>
                <td>{{ achat.numeroReference }}</td>
            </tr>
            <tr>
                <th>IsApprouve</th>
                <td>{{ achat.isApprouve ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsAnnule</th>
                <td>{{ achat.isAnnule ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsEnCours</th>
                <td>{{ achat.isEnCours ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsPaye</th>
                <td>{{ achat.isPaye ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>IsLivre</th>
                <td>{{ achat.isLivre ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ achat.createdAt ? achat.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ achat.updatedAt ? achat.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_achat_index') }}">back to list</a>

    <a href="{{ path('app_achat_edit', {'id': achat.id}) }}">edit</a>

    {{ include('achat/_delete_form.html.twig') }}
{% endblock %}
